{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="post-page-content hidden">

    {%  for post in all_posts %}
    <a href="{% url 'single-post-page' pk=post.pk %}">
        <div class="individual-post">
            <h4 class="individual-post-heading">{{ post.title }}</h4>
            <p class="individual-post-preview">{{ post.content | truncatewords:40 }}</p>
            <p class="individual-post-date">Last Updated: {{ post.last_updated |date:"Y-m-d" }}</p>
            <img src="{% static 'icons/arrow.svg' %}" class="post-arrow-icon">
        </div>
    </a>
    {% endfor %}

</div>
<div class="pagination">

    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-arrow-link"> <img src="{% static 'icons/previous-page.svg' %}" class="pagination-arrows"> </a>
    {% endif %}

    <span class="pagination-current-page">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="pagination-arrow-link"> <img src="{% static 'icons/next-page.svg' %}" class="pagination-arrows"> </a> </div>
    {% endif %}

</div>

{% endblock content %}
